USE [master]
GO
/****** Object:  Database [Instruments]    Script Date: 12/2/2023 2:53:46 AM ******/
CREATE DATABASE [Instruments]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASSIGNMENT_PRJ301', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASSIGNMENT_PRJ301.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASSIGNMENT_PRJ301_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASSIGNMENT_PRJ301_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Instruments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Instruments]
GO
/****** Object:  Table [dbo].[Instruments]    Script Date: 12/2/2023 2:53:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instruments](
	[id] [varchar](6) NULL,
	[name] [nvarchar](100) NOT NULL,
	[image] [text] NULL,
	[price] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 12/2/2023 2:53:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instruments]  WITH CHECK ADD CHECK  (([id] like 'P-[0-9][0-9][0-9]' OR [id] like 'D-[0-9][0-9][0-9]' OR [id] like 'F-[0-9][0-9][0-9]' OR [id] like 'TP-[0-9][0-9][0-9]'))
GO
USE [master]
GO
